@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  --brand-color: #decac1;
  --brand-border: #94a964;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
}

/*------------- PAGE LAYOUT ---------*/
.page-container {
  display: grid;
  grid-template-columns: max(150px, 10vw) repeat(9, 1fr);
  grid-template-rows: 5vh repeat(20, 1fr) 5vh;
}

.header-container {
  grid-column: 2/-1;
}
nav {
  grid-row: 1/-1;
}
.main-container {
  grid-row: 2/-2;
  grid-column: 2/-1;
}
footer {
  grid-column: 2/-1;
}

/*------------- NAV LAYOUT ---------*/

.nav-content-container {
  background-color: #5d663c;
  height: 100vh;
  width: max(150px, 10vw);

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-rows: 2fr repeat(4, 1fr) 5fr;
}

.nav-header {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-color);
}
.nav-header-container {
  border: 3px solid var(--brand-border);
  width: 7em;
  height: 7em;
  border-radius: 100%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-header h1 {
  font-size: 1em;
  margin: 0px;
  font-weight: 700;
  overflow-wrap: normal;
}
.nav-header-container > svg {
  fill: var(--brand-color);
  flex: 2;
  width: 100%;
}

.nav-option {
  display: grid;
  gap: 0.25em;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  font-family: "Cabin", Arial, Helvetica, sans-serif;
}

.nav-option a {
  margin-left: 2px;
}
.nav-option a:link,
.nav-option a:visited {
  color: #f3e8e4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav-option > svg {
  justify-self: end;
  margin-left: 0.25em;
  width: 1em;
  fill: #f3e8e4;
}

/*------------- HEADER LAYOUT ---------*/
.header-container {
  background-color: var(--brand-border);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container h1 {
  margin: 0px;
  font-weight: 600;
}
.header-container h1 strong {
  color: var(--brand-color);
}

/*------------- MAIN LAYOUT ---------*/

.main-container {
  display: grid;
}
.main-container > div {
  height: 95vh;
}
/*-------- Home LAYOUT ---------*/
.home-container {
  background-image: url(./images/ruben-ramirez-xhKG01FN2uk-unsplash.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
  height: 95vh;
}

.main-text-content {
  position: absolute;
  left: 5%;
  bottom: 10%;

  text-align: left;
  font-size: 3em;
  color: rgb(241, 237, 229);
  text-shadow: 1px 2px #6363637e;
}
.main-text-content p {
  font-size: 0.85em;
}

.photo-credits {
  position: absolute;
  right: 0;
  top: 0;

  color: #222e24;
}
.photo-credits a {
  color: #0c0f0c;
}
.photo-credits p {
  margin: 0px;
}

/*-------- Menu LAYOUT ---------*/

.menu-container {
  background-color: #15261e;
}
.menu-container > h1 {
  text-align: center;
  color: #decac1;
}
#menu {
  height: auto;
}

#cappuccino {
  background-image: url(./images/Cappuccino.jpg);
}
#americano {
  background-image: url(./images/Americano.jpg);
}
#matcha {
  background-image: url(./images/Matcha.jpg);
}
#pancakes {
  background-image: url(./images/Pancakes.jpg);
}
#waffles {
  background-image: url(./images/Waffles.jpg);
}
#cake {
  background-image: url(./images//Cake.jpg);
}

.menu-card-container {
  margin: 2%;
  margin-top: 40px;
  max-height: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
  align-items: center;
}

.menu-card {
  width: max(300px, 80%);
  height: 500px;

  justify-self: center;
  align-self: center;
  background-color: #decac1;
  margin-bottom: 30px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px #111f18;

  display: grid;
  grid-template-rows: 1.5fr 1fr;
  padding: 0px 2em;

  position: relative;

  font-family: "Nanum Gothic", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dish-image {
  width: clamp(200px, 70%, 300px);
  height: clamp(240px, 90%, 250px);
  background-size: cover;
  background-position: center;

  box-shadow: 3px 3px 0px #19311f;
  margin-top: 10px;
}

.dish-description {
  padding: 0px 2%;
}
.dish-name {
  font-size: 1.2em;
  text-align: center;
}
.dish-name > h2 {
  margin-top: 0.8em;
  margin-bottom: 0.7em;
}
.description > p {
  margin: 0px;
  margin-bottom: 4em;
}
.price {
  position: absolute;
  bottom: 1%;
  right: 10%;
}
.price > p {
  margin: 0px;
  color: #0f1611;
}

/*-------- Music LAYOUT ---------*/

.music-container {
  background-color: #15261e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#music {
  height: 100vh;
  padding-top: 50px;
}

/*-------- Jobs LAYOUT ---------*/

.jobs-container {
  background-color: #15261e;
  color: #decac1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jobs {
  height: 100vh;
}

.form-container {
  height: 90%;
  width: max(550px, 40%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text {
  flex: 1;
}
.header-text > h1 {
  font-size: 2.5em;
  text-align: center;
}
.header-text > p {
  font-size: 1.1em;
}
form {
  flex: 2.5;
  width: 100%;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 3px;
}

input {
  background-color: #15261e;
  box-shadow: none;
  border: 1px solid #decac1;

  color: #decac1;

  height: 2em;
}
textarea {
  background-color: #15261e;
  box-shadow: none;
  border: 1px solid #decac1;

  color: #decac1;

  font-size: 1.3em;
}
input[type="file"] {
  border: none;
}

button[type="submit"] {
  background-color: var(--brand-border);
  margin-top: 20px;
  width: 100px;
  height: 50px;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--brand-color);
  font-size: 1.5em;

  border: none;
  box-shadow: 7px 7px 0px #12201a;
}

/*------------- FOOTER LAYOUT ---------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141615;
  color: #34473ee0;
}
